.poppins-font {
  font-family: "Poppins", sans-serif;
  
  font-style: normal;
}
*{
  font-family: "Poppins", sans-serif;
}
.navber{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}
.brand{
  font-weight: bold;
  font-size: 2rem;

}
.nav-item{
 
  list-style: none;
}
.nav-link{
  text-decoration: none;
  font-weight: 500;
  color: #041E42;
}
.manu{
  display: flex;
  align-items: center;
  gap: 30px;
}
.section-Influencer-card{
  display: flex;
  justify-content: space-between;
}
.card{
  
  margin: 120px;

}
.img-1{
  width: 440px;
  height: 414px;
  background-image: url(./images/Circle\ design.svg);
  margin-right: 120px;
  margin-top: 50px;
}
.influencer-tittle{
  font-weight: 700;
  font-size: 3rem;

}
.paragrep{
  font-weight: 600;
  font-size: 1rem;
}
.button-1{
  background-color: #E02C6D;
  padding: 10px 24px;
  color: aliceblue;
  border-radius: 25px;
  border: none;
}

.item-apps{
  display: flex;
 justify-content: space-around;
  gap: 10px;
}
.cards{
  width: 330px;
  height: 476px;
 padding: 25px;
 
  background-color:rgba(255, 255, 255, 1);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);

  
 
 
}
/* .icone{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
} */
.img{
  margin: 15px;

}
.tripod-tittle{
  margin-top: 5px;
}
.renk{
  margin-top: 1px;
}
.popular-collection-tittel{
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
}
.card-paragrep{
  font-weight: 300;
  font-size: 1rem;
}
/* card section style */
.card-Popular-Collection{
  max-width: 1440px;
  margin: 0 auto;
  
  
}
/* feature img style */
.featured-img{
  margin: 165px;
   
}
.featured-section-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 120px;
}
.feature-tittle{
  font-weight: 700;
  font-size: 2rem;
}
.all-cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 120px;
  row-gap: 40px;
  justify-content: center;
  
}
.footer{
 /* max-width: 1700px;
 margin: 0 auto; */
  height: 260px;
  background-color: rgba(10, 8, 38, 1);
}
.footer-section{
  color: aliceblue;
  text-align: center;
  padding-top: 30px;
}
@media screen and (max-width: 576px) {
  .all-cards
  .footer
  .all-cards
  .featured-section-item
  .brand
  .manu

  {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
.featured-section-item{
  margin-left: 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.featured-section{
    margin-left: 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
}