.poppins-font {
  font-family: "Poppins", sans-serif;
  
  font-style: normal;
}
*{
  font-family: "Poppins", sans-serif;
}
.navber{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}
.brand{
  font-weight: bold;
  font-size: 2rem;

}
.nav-item{
 
  list-style: none;
}
.nav-link{
  text-decoration: none;
  font-weight: 500;
  color: #041E42;
}
.manu{
  display: flex;
  align-items: center;
  gap: 30px;
}
.section-Influencer-card{
  display: flex;
  justify-content: space-between;
}
.card{
  
  margin: 120px;

}
.img-1{
  width: 440px;
  height: 414px;
  background-image: url(./images/Circle\ design.svg);
  margin-right: 120px;
  margin-top: 50px;
}
.influencer-tittle{
  font-weight: 700;
  font-size: 3rem;

}
.paragrep{
  font-weight: 600;
  font-size: 1rem;
}
.button-1{
  background-color: #E02C6D;
  padding: 10px 24px;
  color: aliceblue;
  border-radius: 25px;
  border: none;
}
.section-item-apps{
  max-width: 1440px;
  margin:165px
}
.item-apps{
  display: flex;
 justify-content: space-around;
  gap: 10px;
}
.cards{
  width: 330px;
  height: 476px;
  border: 2px solid red;
  background-color:rgba(255, 255, 255, 1)
  margin: left 10px;
 
}
/* .icone{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
} */
.img{
  margin: 15px;

}
.tripod-tittle{
  margin-top: 5px;
}
.renk{
  margin-top: 1px;
}
.popular-collection-tittel{
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
}
.card-paragrep{
  font-weight: 300;
  font-size: 1rem;
}
/* card section style */
.card-Popular-Collection{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}