.poppins-font {
  font-family: "Poppins", sans-serif;
  
  font-style: normal;
}
*{
  font-family: "Poppins", sans-serif;
}
.navber{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}
.brand{
  font-weight: bold;
  font-size: 2rem;

}
.nav-item{
 
  list-style: none;
}
.nav-link{
  text-decoration: none;
  font-weight: 500;
  color: #041E42;
}
.manu{
  display: flex;
  align-items: center;
  gap: 30px;
}